{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main class="container w-100 h-100">
        <div class="row h-100 justify-content-end">
            <div class="col-7 col-md-6 my-auto home-main-content">
                <h1 class="home-logo text-center rounded-3 mb-4">
                    Welcome To Catnip Cove Cat Rescue
                </h1>
                <!-- Text for larger screens -->
                <div class="d-none d-sm-block rescue-info-container">
                    <h2 class="home-desc-text text-center rounded-pill">
                        Nestled on a tranquil hillside, Catnip Cove is a cozy haven for rescued cats. 
                        With sun-drenched napping spots and playful areas, this charming center 
                        focuses on finding loving homes for its feline residents. The dedicated 
                        team not only provides care but also fosters community through adoption 
                        events and workshops, ensuring every purr tells a story of hope and resilience.
                    </h2>
                </div>
  
                <!-- Text for smaller screens -->
                <div class="d-block d-sm-none rescue-info-container">
                    <h3 class="home-desc-text text-center rounded-pill">
                        Nestled on a tranquil hillside, Catnip Cove is a cozy haven for rescued cats.
                        The dedicated team not only provides care but also fosters community through adoption events and workshops.
                    </h3>
                </div>
                
                <div class="home-cat-button-container my-5">
                    <h4>
                        <a href="{% url 'cats' %}" class="meet-cats-button btn btn-lg rounded-pill text-uppercase py-3">Meet the Cats</a>
                    </h4>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
