{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'donations/css/donation.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid mb-2 d-flex donation-page-container">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-4 text-center donate-header">Donation Form</h2>
        </div>
    </div>

    <h1 class="text-center text-black donate-sub-header">{% if not cat %}Make a Donation{% endif %}</h1>

    <div class="cat-selected-donation text-center text-black">
        {% if cat %}
            <h2>You have selected {{ cat.name }}</h2>
            {% endif %}

            {% if cat.image %}
            <img src="{{ cat.image.url }}" alt="{{ cat.name }}">
            {% endif %}
    </div>

    <div class="col-12 col-lg-10 col-md-8 col-sm-6 form-container">
        <p class="text-muted mt-5 text-center instruct-text">Please fill out the form below to complete your donation</p>
        <form action="{% url 'donate' %}" method="POST" id="payment-form" class="payment-section">
            {% csrf_token %}

            <input type="hidden" name="cat_id" value="{{ cat.id }}">

            <div class="amount-input">
                <div class="form-field amount-dropdown">
                    <label for="amount" class="amount-label">Choose an amount from dropdown OR enter custom amount in box below:</label>
                    {{ donation_form.amount | as_crispy_field }}
                </div>
    
                <div class="custom-amount-wrapper">
                    <div class="form-field custom-amount-input">
                        <label for="custom-amount">Custom Amount:</label>
                        {{ donation_form.custom_amount | as_crispy_field }}
                    </div>
                </div>
            </div>    

            <div class="detail-input-wrapper rounded-1">
                <div class="customer-details">
                    <fieldset>
                        <legend class="fieldset-label rounded small text-black w-auto">Customer Details</legend>
                        <br>
                        <br>
                            {{ donation_form.donor_first_name | as_crispy_field }}
                            <br>
                            <br>
                            {{ donation_form.donor_last_name | as_crispy_field }}
                            <br>
                            <br>
                            {{ donation_form.donor_email_address | as_crispy_field }}
                            <br>
                            <br>
                            {{ donation_form.donor_postcode | as_crispy_field }}
                            <div class="form-check form-check-inline float-right mr-0 mb-3">
                                {% if user.is_authenticated %}
                                    <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                    <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                                {% else %}
                                    <label class="form-check-label" for="id-save-info">
                                        <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                        <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                    </label>
                                {% endif %}
                            </div>
                    </fieldset>
                </div>
            </div>

            <div class="card-details-wrapper">
                <div class="form-row card-details">
                    <label for="card-element">
                    Credit or debit card
                    </label>
                <div id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
                </div>

                <input type="hidden" value="{{ client_secret }}" name="client_secret">

                <button class="payment-button m-3 p-3" id="submit-button">Submit Payment</button>
            </div>
        </form>
    </div>    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'donations/js/stripe_elements.js' %}"></script>
{% endblock %}