{% extends "base.html" %}
{% load static %}

{% block content %}
		<h4 style="padding-top: 20rem; font-size: 6rem;">Thank you for your contribution</h4>

        <div id="box">
            <h4>Thank you for your contribution of £{{ amount }}!</h4>
            <p>Your support helps us fulfill our objective of helping rescued cats! You should receive a receipt to the email you provided shortly :)</p>
            <hr>
            <a class="myButton" href="{% url 'donate' %}">&#x2190;Back to donation page</a>
        </div>
{% endblock %}