/* ------------------------------------------------------------------------------------------- Blog Index Page*/

.blog-post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem;
}

.blog-header {
    line-height: normal;
}

a {
    color: #0044CC;
}

a:hover,
a:active,
a:focus {
    color: #007BFF;
}

.edit-delete-buttons-blog > a {
    margin: 0.5rem;
    font-weight: 600;
}

/* ------------------------------------------------------------------------------------------- Blog Detail Page*/

.blog-detail-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: 15rem;
}

p {
    color: black;
    margin-top: 2rem;
}

img {
    height: 20rem;
    border-radius: 20%;
    margin: 1rem;
}

small {
    margin-top: 2rem;
}

h1, h3 {
    color: black;
}

h1 {
    font-weight: 700;
    text-decoration: underline;
    margin-top: 2rem;
}

h3 {
    text-align: left;
}

.back-to-blog-button {
    background-color: #6f8659;
    width: auto;
    border: 2px solid black;
    margin-left: 1rem;
}

.blog-back-link {
    text-decoration: none;
}

.back-to-blog-button:hover,
.back-to-blog-button:active,
.back-to-blog-button:focus {
    background-color: #98b080;
}

.comments-area {
    display: inline;
}

.comments {
    background-color: #6f8659;
    border: 2px dashed black;
    width: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
}

.comment-form {
    width: max-content;
    margin-top: 2rem;
}

.form-control {
    margin: 0.5rem;
}

.comment-submit-button {
    background-color: #6f8659;
    margin-left: 15rem;
    padding: 0.3rem;
    border: 2px solid black;
    width: 40%;
}

.comment-submit-button:hover,
.comment-submit-button:active,
.comment-submit-button:focus {
    background-color: #98b080
}

/* ------------------------------------------------------------------------------------------- Blog Category Page*/

.category-title {
    line-height: normal;
}

/* ------------------------------------------------------------------------------------------- Media Queries */

/*---------------------------- For Small & Medium sized Mobile screens */

@media screen and (min-width: 320px) and (max-width: 424px) {

/* --------------------- Blog Index Page*/

    .blog-header {
        font-size: 2rem;
        margin-top: 8rem;
    }

    .blog-post-container {
        margin: 2rem;
    }

/* --------------------- Blog Detail Page*/

    .blog-detail-page-container {
        margin-top: 8rem;
        width: auto;
    }

    .img {
        height: 10rem;
    }

    .comments-area {
        display: contents;
        margin-top: 1rem;
    }

    .comment-form {
        width: 80%;
    }

    .comment-submit-button {
        margin-left: 2.5rem;
        margin-bottom: 1rem;
    }

    .comments {
        margin: inherit;
    }

    .back-to-blog-button {
        margin-left: 0.2rem;
    }

    /* --------------------- Edit Blog Page*/

    .cat-management-header {
        font-size: 2rem;
        margin-top: 5rem;
    }

    .button-container {
        gap: 2rem;
    }

}

/*---------------------------- For Large sized Mobile screens */

@media screen and (min-width: 425px) and (max-width: 767px) {

/* --------------------- Blog Index Page*/

    .blog-header {
        font-size: 2rem;
        margin-top: 10rem;
    }

    .blog-post-container {
        margin: 2rem;
    }

    /* --------------------- Blog Detail Page*/

    .blog-detail-page-container {
        margin-top: 8rem;
        width: auto;
    }

    .post-image {
        height: 10rem;
    }

    .comments-area {
        display: contents;
        margin-top: 1rem;
    }

    .comment-form {
        width: 80%;
    }

    .comment-submit-button {
        margin-left: 2.5rem;
        margin-bottom: 1rem;
    }

    .comments {
        margin: inherit;
    }

    .back-to-blog-button {
        margin-left: 0.2rem;
    }

    /* --------------------- Edit Blog Page*/

    .cat-management-header {
        font-size: 3rem;
        margin-top: 5rem;
    }
}

/*---------------------------- For Tablet screens */

@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* --------------------- Blog Index Page*/

    .blog-header {
        font-size: 2rem;
        margin-top: 10rem;
    }

    .blog-post-container {
        margin: 2rem;
    }

    /* --------------------- Blog Detail Page*/

    .blog-detail-page-container {
        margin-top: 8rem;
        width: auto;
    }

    .post-image {
        height: 10rem;
    }

    .comments-area {
        display: contents;
        margin-top: 1rem;
    }

    .comment-form {
        width: 80%;
    }

    .comment-submit-button {
        margin-bottom: 1rem;
        width: 40%;
        margin-left: 11rem;
    }

    .comments {
        margin: inherit;
    }

    .back-to-blog-button {
        margin-left: 0.2rem;
    }

    /* --------------------- Edit Blog Page*/

    .cat-management-header {
        font-size: 4rem;
        margin-top: 5rem;
    }

}