.profile-header-separator {
    border: 0;
    border-top: 3px solid black;
    width: 20%;
    margin: auto;
}

.profile-welcome-text {
    font-family: Pacifico;
    font-size: 3rem;
}

.profile-form-wrapper {
    flex-direction: column;
}

.profile-form {
    display: flex;
    justify-content: flex-end;
}

.profile-details-form {
    background-color: white;
    border: 2px solid black;
    width: 60%;
    padding: 1rem;
}

fieldset .fieldset-label {
    margin: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px dashed black;
    background-color: #6f8659;
}

fieldset .form-detail-input {
    margin-left: 2rem;
}

.donation-history-header {
    border: 1px dashed black;
    background-color: #6f8659;
    display: inline-block;
}

.donation-history-details {
    margin-top: 2rem;
    margin-bottom: 5rem;
    background-color: white;
    border: 2px solid black;
    height: 29.5rem;
    width: 40%;
    overflow-y: auto;
    overflow-x: hidden;
}

.btn-update {
    background-color: #6f8659;
    border: 1px solid black;
    color: black;
}

.btn-update:hover,
.btn-update:focus,
.btn-update:active {
    background-color: #98b080;
    color: black;
    border: 1px solid black;
}

/* ------------------------------------------------------------------------------------------- Media Queries */

/*---------------------------- For Small & Medium sized Mobile screens */

@media screen and (min-width: 320px) and (max-width: 424px) {

    .profile-header {
        margin-top: 8rem !important;
        margin-left: 2rem !important;
        margin-bottom: 1rem !important;
        font-size: 4rem;
    }

    .profile-welcome-text {
        font-size: 3rem;
    }

    .profile-details-container {
        margin-top: 1rem !important;
    }

    .profile-details-form {
        width: 100%;
    }

    .donation-history-details {
        width: 95%;
        margin-left: 0.6rem;
    }

}

/*---------------------------- For Large sized Mobile screens */

@media screen and (min-width: 425px) and (max-width: 767px) {

    
}

/*---------------------------- For tablet screens */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}

/*---------------------------- Special sizes */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}