/* ---------------------------------------- Special headings/paddings/margins/text */

html {
    height: 100%;
}

/* -------------------------------------------------------------------------------------------------------------------------------- Colors*/
/* -------------------------------------------- Body Colors*/

body {
    color: #555;
}

/* -------------------------------------------- Nav Colors*/

/* Nav background colour */
.custom-nav-bg, .navbar {
    background-color: #98b080;
}

.nav-bar-icon {
    color: #1A191A;
}

/* Nav text logo colour */
.logo-font {
    color: #1A191A;
}

/* Nav search button colour */
.btn-green {
    background-color: #1A191A;
    color: white;
}

/* Nav search button feedback colours */
.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    background: #c0cfb1;
    color: black;
}

/* Account link colour */
.user-option-link {
    color: #1A191A;
}

/* Nav links colour */
.navbar-option {
    color: #1A191A;
}

/* dropdown for cats nav link colour */
.dropdown-menu {
    background-color: #1A191A;
}

/* all dropdowns link colour */
.dropdown-item {
    color: white;
}

/* feedback nav link colours */
.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.user-option-link:hover,
.user-option-link:active,
.user-option-link:focus {
    color: white;
}

/* -------------------------------------------- Mobile Nav Colors*/

.mobile-nav-icon {
    color: #6f8659;
}

/* -------------------------------------------- Home page Colors*/

.home-logo {
    color: #1A191A;
    text-shadow: 5px 5px white;
    background-color: #98b080;
}

.home-desc-text {
    color: black;
    background-color: #98b080;
}

.meet-cats-button {
    background: #98b080;
    color: black;
}

.meet-cats-button:hover,
.meet-cats-button:active,
.meet-cats-button:focus {
    background: #6f8659;
    color: black;
}

/* -------------------------------------------- Cats page Colors*/

.overlay {
    background: #c0cfb1;
}

/* -------------------------------------------- Contact us page Colors*/

.contact-button {
    background: #98b080;
    color: black;
}

.contact-button:hover,
.contact-button:active,
.contact-button:focus {
    background: #6f8659;
    color: black;
}

/* -------------------------------------------------------------------------------------------------------------------------------- Body */

body {
    background: url('/media/banner-cat.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Dosis';
}

/* -------------------------------------------------------------------------------------------------------------------------------- Header & Nav */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-bar-icon {
    padding-left: 1rem;
}

.logo-font {
    font-family: 'Pacifico';
    font-size: 5rem;
    position: relative;
    z-index: 10;
}

.main-logo-link {
    width: fit-content;
}

.user-option-link {
    font-size: 1rem;
    font-weight: 800;
    padding-left: 2rem;
}

.navbar-option {
    font-size: 2rem;
    font-weight: 800;
    margin-right: 3rem;
}

.dropdown-item {
    font-weight: 600;
}

.navbar {
    border-bottom: 10px double black;
}

/* -------------------------------------------------------------------------------------------------------------------------------- Mobile Nav */

.navbar-toggler {
    margin-left: 0.5rem;
}

.mobile-icon-list {
    margin-right: 2rem;
    margin-top: 1rem;
}

/* -------------------------------------------------------------------------------------------------------------------------------- Home Page */

.home-logo {
    font-family: 'Pacifico';
    font-size: 5rem;
    padding: 1rem;
    border: 2px solid black;
}

.home-desc-text {
    padding: 2rem;
    font-weight: 700;
    border: 2px solid black;
}

.home-cat-button-container {
    display: flex;
    justify-content: center;
}

.meet-cats-button {
    min-width: 260px;
    font-weight: 600;
    font-size: 1.5rem;
}

/* -------------------------------------------------------------------------------------------------------------------------------- Cats Page */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.page-heading {
    margin-top: revert;
    padding-bottom: 2rem;
}

.card {
    width: 15rem;
}

.button-group-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-group {
    display: flex;
    width: fit-content;
}

.sort-btn {
    font-size: larger;
}

.back-to-top-button {
    padding: 2rem;
}

/* -------------------------------------------------------------------------------------------------------------------------------- Cat Detail Page */

.cat-details-container {
    margin-top: 5rem;
}

.cat-id-card {
    width: 50rem;
    margin-top: 10rem;
}

/* -------------------------------------------------------------------------------------------------------------------------------- Contact us Page */

.contact-header {
    margin-top: 3rem;
}

.form-control {
    margin: 1rem;
}

.contact-button {
    padding: 1rem;
    font-size: 1.5rem;
}

/* -------------------------------------------------------------------------------------------------------------------------------- Allauth templates */

.allauth-form-inner-content {
    margin-top: 1rem;
}

.allauth-form-inner-content > p {
    color: black;
    font-weight: 700;
}

.allauth-form-inner-content > form > p > input {
    display: flex;
}

.allauth-form-inner-content > form > button {
    border-radius: 10px;
    background-color: #6f8659;
    font-weight: 700;
    font-size: 1.3rem;
}

/* -------------------------------------------------------------------------------------------------------------------------------- Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* -------------------------------- Media Queries */

/*------- For Large sized Mobile screens */

@media screen and (min-width: 425px) and (max-width: 767px) {
    .home-main-content {
        height: 50%;
        margin-right: 1rem;
    }

    .home-logo {
        font-size: 1.5rem;
    }

    .home-desc-text {
        font-size: 1rem;
    }

    .meet-cats-button {
        margin-bottom: 2rem;
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}