/* ------------------------------------------------------------------------------------------- Special headings/paddings/margins/text */

html {
    height: 100%;
}

/* ------------------------------------------------------------------------------------------- Colors*/
/* -------------------------------------------- Body Colors*/

body {
    color: #555;
}

/* -------------------------------------------- Nav Colors*/

/* Nav background colour */
.custom-nav-bg, .navbar {
    background-color: #98b080;
}

.nav-bar-icon {
    color: #1A191A;
}

/* Nav text logo colour */
.logo-font {
    color: #1A191A;
}

/* Nav search button colour */
.btn-green {
    background-color: #1A191A;
    color: white;
}

/* Nav search button feedback colours */
.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    background: #c0cfb1;
    color: black;
}

/* Account link colour */
.user-option-link {
    color: #1A191A;
}

/* Nav links colour */
.navbar-option {
    color: #1A191A;
}

/* dropdown for cats nav link colour */
.dropdown-menu {
    background-color: #1A191A;
}

/* all dropdowns link colour */
.dropdown-item {
    color: white;
}

/* feedback nav link colours */
.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.user-option-link:hover,
.user-option-link:active,
.user-option-link:focus {
    color: white;
}

/* -------------------------------------------- Mobile Nav Colors*/

.mobile-nav-icon {
    color: #0a0a0a;
}

.search-submit-btn {
    background-color: #6f8659;
}

.search-submit-btn:hover,
.search-submit-btn:active,
.search-submit-btn:focus {
    background-color: #c0cfb1;
}

/* -------------------------------------------- Home page Colors*/

.home-logo {
    color: #1A191A;
    background-color: #98b080;
}

.home-desc-text {
    color: black;
    background-color: #98b080;
}

.meet-cats-button {
    background: #98b080;
    color: black;
}

.meet-cats-button:hover,
.meet-cats-button:active,
.meet-cats-button:focus {
    background: #6f8659;
    color: black;
}

/* -------------------------------------------- Cats page Colors*/

.overlay {
    background: #c0cfb1;
}

.cat-record-home-link {
    color: #0044CC;
}

.cat-record-home-link:hover,
.cat-record-home-link:active,
.cat-record-home-link:focus {
    color: #007BFF;
}

/* -------------------------------------------- Contact us page Colors*/

.contact-button {
    background: #98b080;
    color: black;
}

.contact-button:hover,
.contact-button:active,
.contact-button:focus {
    background: #6f8659;
    color: black;
}

.contact-desc-text {
    color: black;
    background-color: #98b080;
}

/* ------------------------------------------------------------------------------------------- Body */

body {
    background: url('/media/banner-cat.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Dosis';
}

/* ------------------------------------------------------------------------------------------- Header & Nav */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-bar-icon {
    padding-left: 1rem;
}

.logo-font {
    font-family: 'Pacifico';
    font-size: 5rem;
    position: relative;
    z-index: 10;
}

.main-logo-link {
    width: fit-content;
}

.user-option-link {
    font-size: 1rem;
    font-weight: 800;
    padding-left: 2rem;
}

.navbar-option {
    font-size: 2rem;
    font-weight: 800;
    margin-right: 3rem;
}

.dropdown-item {
    font-weight: 600;
}

.navbar {
    border-bottom: 10px double black;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------------------------------------------------------------------- Mobile Nav */

.navbar-toggler {
    margin-left: 0.5rem;
}

.mobile-icon-list {
    margin-right: 2rem;
    margin-top: 1rem;
}

/* ------------------------------------------------------------------------------------------- Home Page */

.home-logo {
    font-family: 'Pacifico';
    font-size: 5rem;
    padding: 1rem;
    border: 2px solid black;
    width: 80%;
    text-shadow: 4px 4px white;
}

.rescue-info-container {
    width: 85%;
    padding: 2rem;
}

.home-desc-text {
    padding: 2rem;
    font-weight: 700;
    border: 2px solid black;
}

.meet-cats-button {
    width: 40%;
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 13rem;
}

/* ------------------------------------------------------------------------------------------- Cats Page */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.page-heading {
    margin-top: revert;
}

.hr-cats {
    width: 20%;
    margin: 1rem auto;
    border: 3px solid #6f8659;
}

.cat-record-home-link {
    border-radius: 1rem;
    padding: 0.5rem;
    border: 2px solid #98b080;
    font-size: 1rem;
    text-decoration: none;
}

.card {
    width: 15rem;
}

.button-group-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-group {
    display: flex;
    width: fit-content;
}

.sort-btn {
    font-size: larger;
}

.back-to-top-button {
    padding: 2rem;
}

.edit-delete-buttons {
    display: flex;
    justify-content: center;
}

.edit-delete-buttons > a {
    margin: 1rem;
}

.btn-outline-danger:hover,
.btn-outline-danger:active,
.btn-outline-danger:focus {
    color: white !important;
}

/* ------------------------------------------------------------------------------------------- Cat Detail Page */

.cat-details-container {
    margin-top: 5rem;
}

.cat-id-card {
    width: 50rem;
    margin-top: 10rem;
}

/* ------------------------------------------------------------------------------------------- Cat Management Pages */
/* -------------------------------------------------- Add a Cat Page */

.management-page-container {
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.manage-sub-header{
    display: flex;
    justify-content: center;
    margin: 3rem;
    font-weight: 700;
}

/* -------------------------------------------------- Cat Form - Add & Edit */

.form-label, p {
    color: black;
}

.btn-file {
    border: 2px solid black;
    background-color: #6f8659;
    color: black;
    width: 100%;
    border-radius: 3px;
    font-weight: 600;
    position: relative;
    display: inline-block;
}

.cancel-btn:hover,
.cancel-btn:active,
.cancel-btn:focus,
.update-cat-btn:hover,
.update-cat-btn:active,
.update-cat-btn:focus,
.add-cat-btn:hover,
.add-cat-btn:active,
.add-cat-btn:focus,
.btn-file:hover,
.btn-file:active,
.btn-file:focus {
    border: 2px solid black;
    color: black;
    background-color: #98b080;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer; 
}

.custom-checkbox-label {
    margin: 0.5rem;
    font-weight: 600;
}

.cancel-btn, .update-cat-btn, .add-cat-btn {
    border: 2px solid black;
    background-color: #6f8659;
    border-radius: 3px;
    color: black;
    font-weight: 600;
}

.cancel-btn {
    min-width: 120px;
}

.button-container {
    gap: 5rem;
}

/* ------------------------------------------------------------------------------------------- Contact Us Page */

.contact-header {
    margin-top: 3rem;
    width: 80%;
}

.contact-input {
    margin: 1rem;
    border: 1px solid black;
}

.contact-button {
    padding: 1rem;
    font-size: 1.5rem;
}

.contact-form-container {
    width: 80%;
}

.contact-desc-text {
    width: 80%;
    padding: 2rem;
    font-weight: 700;
    border: 2px solid black;
}

/* ------------------------------------------------------------------------------------------- Allauth templates */

.allauth-form-inner-content {
    margin-top: 15rem;
    margin-left: 2rem;
}

.allauth-form-inner-content > p {
    color: black;
    font-weight: 700;
}

.allauth-form-inner-content > form > p > input {
    border-color: black;
    border-radius: 4px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1.3rem;
    line-height: 1.5;
    border-radius: 10px;
    background-color: #6f8659;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
    background-color: #98b080;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #0044CC;
    background-color: white;
    border: 2px solid #6f8659;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.2rem;
}

.allauth-form-inner-content a:hover,
.allauth-form-inner-content a:active,
.allauth-form-inner-content a:focus {
    color: #007BFF;
}

/* ------------------------------------------------------------------------------------------- Bootstrap Toasts */

.toast-container {
    top: 6rem !important;
    right: 7rem !important;
}

.toast-icon-info, .toast-icon-error, .toast-icon-success, .toast-icon-warning, .toast-icon-danger {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 3px;
}

.toast-body {
    font-size: 1rem;
    font-weight: 700;
}

/* ------------------------------------------------------------------------------------------- Media Queries */

/*---------------------------- For Small sized Mobile screens */

@media screen and (min-width: 320px) and (max-width: 424px) {

    /*----------------- Home page */

    .home-main-content {
        height: 60%;
        width: 100%;
    }

    .home-logo {
        font-size: 2rem;
        text-shadow: none;
        margin-top: 1rem;
        margin: auto;
    }

    .rescue-info-container {
        margin-top: 5rem;
        width: 95%;
        padding: 0;
    }

    .home-desc-text {
        font-size: 1rem;
    }

    .meet-cats-button {
        margin-left: 0;
        margin-top: 2rem;
        width: 95%;
    }

    /*----------------- Cats page */

    .page-heading {
        margin-top: 7rem;
        font-size: 2.5rem;
    }

    .btn-group {
        display: flex;
        flex-wrap: wrap;
    }

    .custom-select {
        margin: 1rem;
        margin-right: 3rem;
        padding: 0.5rem;
    }

    .cat-record-counter-link {
        margin-right: 3rem;
    }

    .card-wrapper {
        margin-bottom: 2rem;
    }
}

/*---------------------------- For Large sized Mobile screens */

@media screen and (min-width: 425px) and (max-width: 767px) {

    /*----------------- Home page */

    .home-main-content {
        height: 55%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-logo {
        font-size: 3rem;
        text-shadow: 2px 2px white;
    }

    .rescue-info-container {
        margin-top: 3rem;
        width: 95%;
    }

    .home-desc-text {
        font-size: 1rem;
    }

    .meet-cats-button {
        width: auto;
        display: table-cell;
    }

    /*----------------- Cats page */

    .page-heading {
        margin-top: 7rem;
        font-size: 3rem;
    }

    .custom-select {
        margin: 1rem;
        margin-right: 3rem;
        padding: 0.5rem;
    }

    .card-wrapper {
        margin-bottom: 2rem;
    }

    /*----------------- Contact Us page */

    .contact-main-content {
        height: 60%;
        width: 90%;
    }

    .contact-header, .contact-desc-text {
        margin-left: 1rem;
    }

    .contact-button {
        margin-left: 2rem;
        margin-top: 1rem;
    }

    .contact-header {
        margin-top: 0;
    }
}

/*---------------------------- For tablet screens */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /*----------------- Home page */
    .home-main-content {
        height: 60%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        width: auto;
    }

    .home-logo {
        font-size: 4rem;
        text-shadow: 3px 3px white;
        margin-top: 1rem;
    }

    .home-desc-text {
        font-size: 1.2rem;
    }

    .meet-cats-button {
        width: auto;
        display: table-cell;
    }

    /*----------------- Cats page */

    .page-heading {
        margin-top: 7rem;
    }

    /*----------------- Contact Us page */

    .contact-main-content {
        height: 60%;
        width: 85%;
    }

    .contact-header {
        margin-top: 0;
    }

}

/*---------------------------- For laptop screens */

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    /*----------------- Home page */

    .home-main-content {
        height: 90%;
        width: 50%;
    }

    .home-logo {
        font-size: 4rem;
        text-shadow: 3px 3px white;
        width: auto;
    }

    .rescue-info-container {
        width: auto;
        padding: initial;
    }

    .contact-desc-text {
        font-size: 1.2rem;
    }

    .meet-cats-button {
        width: auto;
        margin-left: 8.5rem;
    }

    /*----------------- Nav */

    .logo-font {
        font-size: 3rem;
    }

    /*----------------- Contact Us page */

    .contact-main-content {
        height: 60%;
        width: 85%;
    }

    .contact-header {
        margin-top: 1rem;
    }

}

/*---------------------------- For large laptop screens */

@media screen and (min-width: 1440px) and (max-width: 2560px) {
    /*----------------- Home page */

    .home-main-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .rescue-info-container {
        width: auto;
        padding: initial;
    }

    .meet-cats-button {
        width: auto;
        margin: auto;
    }

    /*----------------- Contact Us page */

    /* .contact-main-content {
        height: 60%;
        width: 85%;
    }

    .contact-header {
        margin-top: 1rem;
    } */

}

/*---------------------------- Special sizes */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}