{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid mb-5">
    <div class="row cat-details-container">
        <div class="col-12 col-md-6 col-lg-2 offset-lg-1">
            <div class="image-container my-5">
                {% if cat.image %}
                    <a href="{{ cat.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid rounded-3 cat-image-detail" src="{{ cat.image.url }}" alt="{{ cat.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid rounded-3 cat-image-detail" src="{{ MEDIA_URL }}noimage.webp" alt="{{ cat.name }}">
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 offset-lg-1 cat-id-container">
            <div class="card cat-id-card mx-auto">
                <div class="card-header">
                    CAT ID - {{ cat.id }}
                </div>
                <div class="card-body">
                    <h1 class="card-title text-center text-black">{{ cat.name }}</h1>
                </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center"><p class="card-section-title"><strong>Breed:</strong></p> {{ cat.breed }}</li>
                        <li class="list-group-item text-center"><p class="card-section-title"><strong>Age (if known):</strong></p> {{ cat.age_if_known }}</li>
                        <li class="list-group-item text-center"><p class="card-section-title"><strong>Sex:</strong></p> {{ cat.gender }}</li>
                        <li class="list-group-item text-center"><p class="card-section-title"><strong>Main Colour:</strong></p> {{ cat.colour }}</li>
                        <li class="list-group-item text-center"><p class="card-section-title"><strong>Description:</strong></p> {{ cat.description }}</li>
                    </ul>
                <div class="card-body">
                    {% if request.user.is_superuser %}
                    <div class="ml-3 edit-delete-buttons-blog">
                        <a href="{% url 'edit_cat' cat.id %}">Edit</a> | 

                        <!-- Triggers modal for delete button -->
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal-{{ cat.id }}" class="text-danger">Delete</a>
                        <!-- Modal Structure -->
                        <div class="modal fade" id="modal-{{ cat.id }}" tabindex="-1" aria-labelledby="modalLabel-{{ cat.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel-{{ cat.id }}">Delete Cat Record</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this cat record?
                                        This action cannot be undone; all information will be lost!
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'delete_cat' cat.id %}" class="btn btn-danger">Delete</a>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}