{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container fluid">
    <div class="row">
        <div class="col-12 mt-3 d-flex flex-column justify-content-center align-items-center">
            <h2 class="logo-font page-heading"><i class="fa-solid fa-paw"></i> Our Cats <i class="fa-solid fa-paw"></i></h2>
            <hr class="hr-cats">
        </div>
    </div>

<div class="button-group-wrapper">
    <div class="btn-group cat-filter-buttons mt-1 mb-1 text-center" role="group" aria-label="Cat filter">
        <div class="btn-group" role="group">
            <!-- button to show all breeds of cat currently on the website populated by for loop -->
            <button type="button" class="btn btn-outline-dark dropdown-toggle sort-btn" data-bs-toggle="dropdown" aria-expanded="false">
              <strong>Breeds</strong>
            </button>
            <ul class="dropdown-menu">
                {% for breed in unique_breeds %}
                <li><a class="dropdown-item" href="{% url 'cats_by_breed' breed=breed %}">{{ breed }}</a></li>
                {% endfor %}
            </ul>
          </div>
        <!-- button to show all colours of cats currently on the website populated by for loop -->
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-dark dropdown-toggle sort-btn" data-bs-toggle="dropdown" aria-expanded="false">
              <strong>Colour</strong>
            </button>
            <ul class="dropdown-menu">
                {% for colour in unique_colour %}
                <li><a class="dropdown-item" href="{% url 'cats_by_colour' colour=colour %}">{{ colour }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <!-- Button for Male Cats -->
        <a href="{% url 'cats' %}?sort=male" class="btn btn-outline-dark sort-btn {% if sort_by_gender == 'male' %}active{% endif %}">
            <strong>Male Cats</strong>
        </a>

        <!-- Button for Female Cats -->
        <a href="{% url 'cats' %}?sort=female" class="btn btn-outline-dark sort-btn {% if sort_by_gender == 'female' %}active{% endif %}">
            <strong>Female Cats</strong>
        </a>

        <!-- Button for All Cats -->
        <a href="{% url 'cats' %}" class="btn btn-outline-dark sort-btn {% if not sort_by_gender %}active{% endif %}">
            <strong>All Cats</strong>
        </a>
    </div>
</div>
<hr class="hr-cats">

    <div class="row">
        <div class="cat-container col-11 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-10">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-black">
                            <option value="reset" {% if current_sorting == 'reset' %}selected{% endif %}>Sort by...</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="breed_asc" {% if current_sorting == 'breed_asc' %}selected{% endif %}>Breed (A-Z)</option>
                            <option value="breed_desc" {% if current_sorting == 'breed_desc' %}selected{% endif %}>Breed (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="mt-3 text-md-left">
                            <span class="small"><a href="{% url 'cats' %}" class="cat-record-home-link"><strong>Cats - Home</strong></a> | </span>
                        {{ cats | length }} Cats
                    </p>
                </div>
            </div>
            <div class="row">
                {% for cat in cats %}
                    <div class="col-sm-8 col-md-6 col-lg-4 col-xl-3 card-wrapper">
                        <div class="card h-100 border-2">
                            {% if cat.image %}
                            <a href="{% url 'cat_detail' cat.id %}">
                                <img class="card-img-top img-fluid" src="{{ cat.image.url }}" alt="{{ cat.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'cat_detail' cat.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ cat.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0 text-center">{{ cat.name }}</p>
                            </div>
                            <div class="card-footer text-body-secondary text-center">
                               {{ cat.breed }}
                            </div>
                        </div>
                    </div>
                    <!-- Code taken from Boutique Ado walkthrough to show horizontal rules between cat pictures depending on screen size -->                   
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-end sticky-bottom back-to-top-button">
    <button id="backToTop" class="btn btt-link btn-outline-dark" title="Back to top">
        <i class="fa-solid fa-chevron-up"></i>
    </button>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        // Scroll to top button is clicked
        $('.btt-link').click(function() {
            window.scrollTo(0, 0);
        });

        // Sorting functionality for the dropdown
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if (selectedVal !== "reset") {
                var sort = selectedVal.split("_")[0];  // 'name' or 'breed'
                var direction = selectedVal.split("_")[1]; // 'asc' or 'desc'

                // Update the URL parameters for sorting
                currentUrl.searchParams.set("sortkey", sort);
                currentUrl.searchParams.set("direction", direction);
            } else {
                // Reset sorting parameters if "reset" is selected
                currentUrl.searchParams.delete("sortkey");
                currentUrl.searchParams.delete("direction");
            }

            // Redirect to the updated URL
            window.location.replace(currentUrl);
        });
    </script>
{% endblock %}
