<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav navbar-option font-weight-bold nav-link mr-5" href="#" id="all-cats-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-paw"></i> Cats <i class="fa-solid fa-paw"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-cats-link">
                <a href="{% url 'cats' %}?sort=male" class="dropdown-item ">Male Cats</a>
                <a href="{% url 'cats' %}?sort=female" class="dropdown-item ">Female Cats</a>
                <a href="{% url 'cats' %}" class="dropdown-item">All Cats</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav navbar-option font-weight-bold nav-link mr-5" href="#" id="volunteer-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-paw"></i> Volunteer <i class="fa-solid fa-paw"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="volunteer-link">
                <a href="" class="dropdown-item">Volunteer Form</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav navbar-option font-weight-bold nav-link mr-5" href="#" id="contact-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-paw"></i> Contact Us <i class="fa-solid fa-paw"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="contact-link">
                <a href="" class="dropdown-item">Contact Form</a>
            </div>
        </li>

        <li class="nav-item dropdown"></li>
            <a class="nav navbar-option font-weight-bold nav-link" href="#" id="donate-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-paw"></i> Donate <i class="fa-solid fa-paw"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="donate-link">
                <a href="" class="dropdown-item">Donation Form</a>
            </div>
        </li>
    </ul>
</div>