<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav navbar-option font-weight-bold nav-link mr-5" href="#" id="all-cats-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-paw"></i> Cats <i class="fa-solid fa-paw"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-cats-link">
                <a href="{% url 'cats' %}?sort=male" class="dropdown-item ">Male Cats</a>
                <a href="{% url 'cats' %}?sort=female" class="dropdown-item ">Female Cats</a>
                <a href="{% url 'cats' %}" class="dropdown-item">All Cats</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav navbar-option font-weight-bold nav-link mr-5" href="{% url 'contact' %}" id="contact-link">
                <i class="fa-solid fa-paw"></i> Contact Us <i class="fa-solid fa-paw"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav navbar-option font-weight-bold nav-link mr-5" href="{% url 'donate' %}" id="donate-link" name="donate_button">
                <i class="fa-solid fa-paw"></i> Donate <i class="fa-solid fa-paw"></i>
            </a>   
        </li>
    </ul>
</div>
