<ul class="mobile-icon-list">
    <li class="list-inline-item">
        <a class="text-black nav-link d-block d-lg-none" href="{% url 'home' %}" id="home-btn">
            <div class="text-center">
                <div><i class="fa-solid fa-home fa-lg mobile-nav-icon" aria-hidden="true"></i></div>
                <p class="text-black my-0">Home</p>
            </div>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-hidden="true">
            <div class="text-center">
                <div><i class="fa-solid fa-magnifying-glass fa-lg mobile-nav-icon"></i></div>
                <p class="my-0">Search</p>
            </div>
        </a>
        <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
            <form class="form" method="GET" action="{% url 'cats' %}">
                <div class="input-group w-100">
                    <input class="form-control rounded-0" type="text" name="q" placeholder="Search our cats...">
                    <div class="input-group-append">
                        <button class="form-control btn border border-black rounded-0 search-submit-btn" type="submit">
                            <span class="icon">
                                <i class="fa-solid fa-magnifying-glass mobile-nav-icon"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>
    <li class="list-inline-item dropdown">
        <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-hidden="true">
            <div class="text-center">
                <div><i class="fas fa-user fa-lg mobile-nav-icon"></i></div>
                <p class="my-0">My Account</p>
            </div>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="user-options">
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a href="{% url 'add_cat' %}" class="dropdown-item">Cat Management</a>
                    <a href="{% url 'add_blog' %}" class="dropdown-item">Blog Management</a>
                {% endif %}
                <a href="" class="dropdown-item">My Profile</a>
                <a href="{% url 'blog_index' %}" class="dropdown-item">Members Blog</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
        </div>
    </li>
</ul>