{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid mb-2 blog-detail-page-container">
    {% if request.user.is_superuser %}
        <div class="ml-3 edit-delete-buttons-blog">
            <a href="{% url 'edit_blog' post.pk %}" class="btn btn-outline-dark" role="button">Edit</a>

            <!-- Triggers modal for delete button -->
            <a href="#" data-bs-toggle="modal" data-bs-target="#modal-{{ post.pk }}" class="btn delete-btn btn-large text-danger btn-outline-danger">Delete</a>
            <!-- Modal Structure -->
            <div class="modal fade" id="modal-{{ post.pk }}" tabindex="-1" aria-labelledby="modalLabel-{{ post.pk }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel-{{ post.pk }}">Delete Blog Post</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this blog post? This will also delete any associated comments!
                            This action cannot be undone; all information will be lost!
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'delete_blog' post.pk %}" class="btn btn-danger">Delete</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col">
            <h1 class="text-black">{{ post.title }}</h1>
        </div>
    </div>

    <div>
    {% if post.image %}
        <img class="post-image" src="{{ post.image.url }}" alt="{{ post.title }}">
    {% endif %}
    </div>

    <small class="text-black">
        {{ post.created_on.date }} | Categories:
        {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}
            </a>
        {% endfor %}
    </small>
    <p class="post-body">{{ post.body | safe }}</p>

    <div class="comments-area p-5 mb-5">
        <div class="comments p-5 rounded-3">
            <h3>Comments:</h3>
            {% for comment in comments %}
                <p>
                    On {{ comment.created_on.date }} <b>{{ comment.author }}</b> wrote:
                </p>
                <p>
                    {{ comment.body | linebreaks }}
                </p>
                {% if request.user.is_superuser %}
                <div class="ml-3 edit-delete-buttons-blog">
                    <a href="{% url 'delete_comment' comment.pk %}" class="btn text-danger btn-outline-danger" role="button">Delete</a>
                </div> 
                {% endif %}
            {% endfor %}
        </div>

        <div class="comment-form">
            <h3>Leave a comment:</h3>
            <form method="post">
                {% csrf_token %}
                <div>
                    {{ form.author }}
                </div>
                <div>
                    {{ form.body }}
                </div>
                <button type="submit" class="comment-submit-button text-black rounded-3"><strong>Submit</strong></button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-7 back-to-blog-button mb-5 p-2 rounded">
            <a href="{% url 'blog_index' %}" class="text-black my-2 blog-back-link">
                <span class="icon mr-2">
                    <i class="fas fa-angle-left"></i>
                </span>
                <strong>Back to Blog Posts</strong>
            </a>
        </div>
    </div>

</div>
{% endblock %}
