{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid mb-2 d-flex management-page-container">
    <div class="row">
        <div class="col-12">
            <h2 class="logo-font mb-4 text-center cat-manage-header">Blog Management</h2>
            <h4 class="manage-sub-header text-black">Edit a Blog Post!</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form method="POST" action="{% url 'edit_blog' post.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="d-flex button-container">
                    <a class="btn cancel-btn" href="{% url 'blog_index' %}">Cancel</a>
                    <button class="btn add-cat-btn" type="submit">Update Blog Post</button>
                </div>
            </form>
        </div>            
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const fileInput = document.getElementById('id_image'); // targets the element with ID 'new-image'
            const filenameDisplay = document.getElementById('filename'); // targets the element with the ID 'filename'

            fileInput.addEventListener('change', () => { // listens to the change event of the file input
                const file = fileInput.files?.[0]; // get the first file by accessing files property
                if (file) { // checks if a file is selected
                    filenameDisplay.textContent = `Image will be set to: ${file.name}`; // displays text to show user filename selected
                } else {
                    filenameDisplay.textContent = 'No file selected.'; // displays this text if file selection is cancelled
                }
            });
        });
    </script>
{% endblock %}