/* ------------------------------------------------------------------------------------------- Blog Index Page*/

.blog-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 70%;
}

.blog-header {
    line-height: normal;
}

a {
    color: #0044CC;
}

a:hover,
a:active,
a:focus {
    color: #007BFF;
}

/* ------------------------------------------------------------------------------------------- Blog Detail Page*/

.blog-detail-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: 15rem;
}

p {
    color: black;
    margin-top: 2rem;
}

img {
    height: 20rem;
    border-radius: 20%;
    margin: 1rem;
}

small {
    margin-top: 2rem;
}

h1, h3 {
    color: black;
}

h1 {
    font-weight: 700;
    text-decoration: underline;
    margin-top: 2rem;
}

h3 {
    text-align: left;
}

.back-to-blog-button {
    background-color: #6f8659;
    width: 100%;
    border: 2px solid black;
}

.back-to-blog-button:hover,
.back-to-blog-button:active,
.back-to-blog-button:focus {
    background-color: #98b080;
}

/* ------------------------------------------------------------------------------------------- Blog Category Page*/

.category-title {
    line-height: normal;
}