{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <h2 class="logo-font m-5 text-center error-header">Sorry, the cats are sleeping...</h2>
            <img src="{% static 'images/cats-sleeping.jpg' %}" class="error-page-image rounded-circle">
        </div>
    </div>

    <div>
        <i class="fa-solid fa-shield-cat fa-2xl d-flex justify-content-center"></i>
        <h3 class="text-center text-black error-header">404 - Page not found</h3>

        <h4 class="text-center error-tag text-black">Looks like something has gone wrong!</h4>
            <p class="text-center error-text">
                Use the menu at the top of the page to navigate away from this page</p>
                <p>OR</p> 
                <p>
                    <a href="{% url 'home' %}" class="error-page-home-btn">HOME</a>
            </p>
    </div>
</div>
{% endblock %}