/* -------------------------------------------------------------------------------------------------------------------------------- Colours */
/* ---------------------------------------------------------------- Donation Page Colours */

label {
    color: black;
}

.customer-details {
    background-color: #eeeeee;
}

legend {
    color: white;
}

/* ---------------------------------------------------------------- Success Page Colours */

.thankyou-container, .thankyou-message {
    background: #c0cfb1;
}

.back-to-donate-button {
    background: #6f8659;
}

.back-to-donate-button:hover,
.back-to-donate-button:active,
.back-to-donate-button:focus {
    background: #98b080;
}

/* -------------------------------------------------------------------------------------------------------------------------------- Donation Page */

.donate-header {
    margin-top: 5rem;
}

.form-field {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.amount-dropdown {
    width: 65%;
}

.custom-amount-wrapper {
    width: 50%;
}

.amount-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        border: 2px black dashed;
        border-radius: 10px;
        margin: 2rem;
}

.detail-input-wrapper {
    display: flex;
    justify-content: center;
}

.customer-details {
    width: 30%;
    border: 2px black solid;
    border-radius: 10px;
}
  
legend {
    border: 2px black solid;
    border-radius: 10px;
    padding: 5px 10px;
}
  
input {
    margin: 5px;
}

.form-detail-input {
    width: 90%;
}

.card-details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.card-details {
    width: 60%;
}

.payment-button {
    border: 2px black solid;
    border-radius: 10px;
}

/* -------------------------------------------------------------------------------------------------------------------------------- Success Page */

.thankyou-container {
    margin-top: 20rem;
    padding: 1rem;
    border: 5px double black;
}

.thankyou-message {
    margin-top: 5rem;
    padding: 1rem;
    border: 5px double black;
}

.back-to-donate-button {
    padding: 0.5rem;
    border: 2px solid black;
    font-size: 1.5rem;
}

/* -------------------------------------------------------------------------------------------------------------------------------- Stripe CSS */

.StripeElement {
	box-sizing: border-box;
	height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
	background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
	}

.StripeElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
	}

.StripeElement--invalid {
	border-color: #fa755a;
	}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
	}