/* -------------------------------------------------------------------------------------------------------------------------------- Colours */
/* ---------------------------------------------------------------- Donation Page Colours */

label {
    color: black;
}

.customer-details {
    background-color: #eeeeee;
}

legend {
    color: white;
}

.text-info {
    color: #0044CC;
}

.text-info:hover,
.text-info:active,
.text-info:focus {
    color: #007BFF;
}

.payment-button {
    background-color: #6f8659
}

.payment-button:hover,
.payment-button:active,
.payment-button:focus {
    background-color: #98b080
}

/* ---------------------------------------------------------------- Success Page Colours */

.thankyou-container, .thankyou-message {
    background: #c0cfb1;
}

.back-to-donate-button {
    background: #6f8659;
}

.back-to-donate-button:hover,
.back-to-donate-button:active,
.back-to-donate-button:focus {
    background: #98b080;
}

/* -------------------------------------------------------------------------------------------------------------------------------- Donation Page */

.donate-header {
    margin-top: 5rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    right: 0;
}

.donation-page-container {
    flex-direction: column;
    align-items: center;
}

.form-label {
    display: none;
}

.card-details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.payment-button {
    border: 2px black solid;
    border-radius: 10px;
    font-weight: 600;
}

.detail-input-wrapper {
    border: 2px solid black;
}

.payment-section {
    width: 70%;
}

.stripe-style-input {
    width: 80%;
    border: 1px solid black;
    margin-left: 5rem;
}

.amount-label  {
    margin-bottom: 0.5rem;
}

.fieldset-label {
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    border: 0.5px dashed black;
}

.form-check {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numberinput {
    width: 100%;
    margin-left: 0;
}

input[type="checkbox"]:checked {
    background-color: #4caf50 !important; /* Green when checked */
    border-color: #4caf50 !important;
}

.donate-form-separator {
    border: 1px dashed black;
}

/* -------------------------------------------------------------------------------------------------------------------------------- Success Page */

.thankyou-container {
    margin-top: 20rem;
    padding: 1rem;
    border: 5px double black;
}

.thankyou-message {
    margin-top: 5rem;
    padding: 1rem;
    border: 5px double black;
}

.back-to-donate-button {
    padding: 1rem;
    border: 2px solid black;
    font-size: 1.5rem;
    text-decoration: none;
}

.profile-donate-buttons {
    display: flex;
    flex-direction: row-reverse;
    margin: inherit;
}

/* -------------------------------------------------------------------------------------------------------------------------------- Stripe CSS */

.StripeElement {
    width: 40rem;
    padding: 10px 12px;
    border: 1px solid black;
    border-radius: 4px;
	background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
	}

.StripeElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
	}

.StripeElement--invalid {
	border-color: #dc3545;
	}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
	}

/* -------------------------------------------------------------------------------------------------------------------------------- Media Queries */

/*---------------------------- For Small sized Mobile screens */

@media screen and (min-width: 320px) and (max-width: 374px) {

    /*----------------- Donation page */

    .donation-page-container {
        align-items: flex-end;
    }

    .form-container {
        width: 100%;
    }

    .donate-header {
        line-height: normal;
        margin-top: 7rem;
        margin-right: 3rem;
        font-size: 2rem;
    }

    .donate-sub-header {
        margin-right: 4rem;
    }

    .amount-label {
        text-align: center;
    }

    .stripe-style-input {
        margin-left: 1.5rem;
    }

    .numberinput {
        margin-left: 0;
    }

    .StripeElement {
        width: 15rem;
    }

    .instruct-text {
        margin-top: 1rem !important;
    }
}

/*---------------------------- For Medium sized Mobile screens */

@media screen and (min-width: 375px) and (max-width: 424px) {
    /*----------------- Donation page */

    .donation-page-container {
        align-items: flex-end;
    }

    .form-container {
        width: 100%;
    }

    .donate-header {
        line-height: normal;
        margin-top: 7rem;
        margin-right: 2.5rem;
        font-size: 2.5rem;
    }

    .donate-sub-header {
        margin-right: 5.5rem;
    }

    .amount-label {
        text-align: center;
    }

    .stripe-style-input {
        margin-left: 1.5rem;
    }

    .numberinput {
        margin-left: 0;
    }

    .StripeElement {
        width: 15rem;
    }

    .instruct-text {
        margin-top: 1rem !important;
    }
}

/*---------------------------- For Large sized Mobile screens */

@media screen and (min-width: 425px) and (max-width: 767px) {

    /*----------------- Donation page */

    .form-container {
        width: 100%;
    }

    .donate-header {
        line-height: normal;
        margin-top: 7rem;
        font-size: 3rem;
    }

    .amount-label {
        text-align: center;
    }

    .stripe-style-input {
        margin-left: 1.8rem;
    }

    .numberinput {
        margin-left: 0;
    }

    .StripeElement {
        width: 20rem;
    }

    .instruct-text {
        margin-top: 1rem !important;
    }
}

/*---------------------------- For tablet screens */

@media screen and (min-width: 768px) and (max-width: 1023px) {

    /*----------------- Donation page */

    .form-container {
        width: 100%;
    }

    .donate-header {
        margin-top: 8rem;
    }

    .stripe-style-input {
        width: 85%;
        margin-left: 2rem;
    }

    .numberinput {
        margin-left: 0;
        width: 100%;
    }

    .StripeElement {
        width: 30rem;
    }

    .instruct-text {
        margin-top: 1rem !important;
    }
}

/*---------------------------- For laptop screens */

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    /*----------------- Donation page */

    .form-container {
        width: 100%;
    }

    .donate-header {
        margin-top: 2rem !important;
        font-size: 4rem;
    }

    .stripe-style-input {
        width: 90%;
        margin-left: 2rem;
    }

    .numberinput {
        margin-left: 0;
        width: 100%;
    }

    .instruct-text {
        margin-top: 1rem !important;
    }
}