{% block corecss %}
{% endblock %}

<div class="toast-container position-fixed top-0 end-0" role="alert" data-bs-autohide="false">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <div class="toast-icon-warning bg-warning me-2"></div> 
        <strong class="me-auto">Warning!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{ message }}
      </div>
    </div>
  </div>